<!DOCTYPE html>
<html lang="en">

<head>
    <meta name="google-adsense-account" content="ca-pub-9844068717553027">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
    <title>Dlozela-Contact</title>

    <style>
        body {
            font-family: 'Courier New', Courier, monospace;
            margin: 40px;
            background-image: url('/static/wall.jpg');
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
            min-height: 100vh;
            background-attachment: fixed;
        }
    </style>
</head>

<body>
    <nav>
        <a href="/">Home</a>
        <a href="/about">About</a>
        <a href="/contact">Contact</a>
    </nav>
    <main
        style="background-color: rgba(255, 253, 253, 0.007); backdrop-filter: blur(5px); padding: 40px; border-radius: 12px; border: 1px solid rgba(255, 255, 255, 0.1); max-width: 800px; margin: 0 auto;">
        <h1>Contact Me</h1>
        <p>Feel free to reach out to me!</p>

        <div class="contact-info">
            <h2>Contact Information</h2>
            <p>Email: <a href="mailto:ntandoyenkosishange00@email.com">ntandoyenkosishange00@email.com</a></p>
            <p>Phone: <a href="(081)724 2951">(081)724 2951</a></p>
            <p>LinkedIn: <a
                    href="https://www.linkedin.com/in/ntando-yenkosi-shange-9b8b1a1b3/">https://www.linkedin.com/in/ntando-yenkosi-shange-9b8b1a1b3/</a>
            </p>
            <p>GitHub: <a href="https://github.com/ntandoyenkosishange00">https://github.com/ntandoyenkosishange00</a>
            </p>

        </div>
    </main>
</body>

</html>